:root {
  --main-color: rgb(125, 255, 125);
  --accent-color: rgb(222, 160, 241);
}

body {
  font-family: Arial, Helvetica, sans-serif;

  button {
    cursor: pointer;
    min-height: 40px;
    background: var(--accent-color);
    border-radius: 10px;
    padding: 0 20px;
    transition: all 100ms;

    &:hover {
      filter: brightness(85%);
    }

    &:active {
      transform: translate(1px, 1px);
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: black;
    text-decoration: underline transparent;
    transition: text-decoration-color 200ms;
  }

  a:hover {
    text-decoration-color: black;
  }

  h2 {
    font-size: 3rem;
  }
}
